
body {
    height: auto;
    width: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    text-decoration-color: white;
    transition: 0.8s all;
    text-align: center;
    background-position: auto;
    background-size: cover;
    background-image: url("xbackground.jpeg");

}


body{
    margin-right: auto;
    font-family: sans-serif;
}
.topnav{
    overflow: hidden;
    background-color: black;
    float: center;
    text-align: center;

}
.topnav a {
    float: center;
    color: white;
    text-align: left;
    padding: 3%;
    text-decoration: none;
    font-size: auto;
}
.topnav a:hover{
    background-color: darkcyan;
    color: white;
}
.topnav a.active{
    background-color: darkcyan;
    color: white;
}

@media only screen and (max-width: 768px) {
    .user-items-list-simple:not([data-num-columns="1"]) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px !important;
    }

    .list-item-content__title {
        font-size: 1rem !important;
    }

    .list-item {
        padding: .5rem !important;
    }
}